@use "../../../styles/sass/abstracts/mixins" as mixins;
@use "../../../styles/sass/abstracts/variables" as vars;

.storygrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 11.6rem);
  gap: 1rem;

  @include mixins.respond-to-abs(medium) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }

  & > * {
    position: relative;
    overflow: hidden;
    &:nth-child(1) {
      grid-row: 1 / 3;
      grid-column: 1 / 3;
      @include mixins.respond-to-abs(medium) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        margin-bottom: 1.315rem;
        grid-column: auto;
        grid-row: auto;
      }
    }
    &:nth-child(2) {
      grid-column: 3 / 5;
      @include mixins.respond-to-abs(medium) {
        grid-column: auto;
      }
    }

    &::after {
      content: "";
      height: 40%;
      width: 110%;
      position: absolute;
      bottom: -6px;
      left: 0;
      right: 0;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.83) 15%,
        rgba(0, 0, 0, 0) 77%
      );
      filter: blur(0.63rem);

      @include mixins.respond-to-abs(medium) {
        content: none;
      }
    }
  }
}
